<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DLPCodeCreater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DLPCodeCreater.Properties.Settings>
            <setting name="EipVS" serializeAs="String">
                <value>Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.32.1.199)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=VSPORTAL)));password=eipdba;user id=eipdba;</value>
            </setting>
            <setting name="UserToken" serializeAs="String">
                <value />
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LineNotifyToken" serializeAs="String">
                <value />
            </setting>
            <setting name="DlpDevelopProjectPath" serializeAs="String">
                <value />
            </setting>
        </DLPCodeCreater.Properties.Settings>
    </userSettings>
</configuration>